[Unit]
Description=Dynamic DNS updater service
After=syslog.target network.target nss-lookup.target

[Service]
User=ddns-update
Group=ddns-update
PIDFile=/var/run/ddns-update/ddns-update.pid
ExecStart=/usr/bin/ddns-dbus-daemon

[Install]
WantedBy=multi-user.target
